   <div class="top-container" >
<!-- top -->
    <div class="InfoContainer">
      <app-navbar></app-navbar>
    </div>
 <!-- smart locks -->
    <div class="imgContainer">
    <img class="InfoImg" src="/assets/bg.png">
    <div class="ImgText">Smart Locks</div>
    <div class="dev" ><img class="wave" src="/assets/waves.svg"></div>
  </div>

<div class="info d-flex flex-column py-5 align-items-center">
  <div class="d-flex ms-2">
    <img class="info-icon" src="/assets/sideImg.png">
    <span class="Why-Choose-Us mx-3" >Why Choose Us</span>
  </div>
  <p >Afaaq Pro is a leading Saudi facility in the development of hospitality technologies specialized in innovative entry technologies from intelligent locks and key card solutions, elevator control</p>
  <p >and self-service kiosks for hotels, as well as many customized solutions and applications, specialized in hospitality and a variety of different industry sectors</p>

  <div class="d-flex my-4">
    <img class="info-icon" src="/assets/sideImg.png">
    <span class="Why-Choose-Us  mx-3">WHAT WE OFFER?</span>
  </div>
  <p>IT Solutions for Your Every Need</p>
</div>

</div>
