<div class="news-container d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center ">
        <img  src="/assets/sideImg.png">
        <span class=" mx-3 news-title ">News</span>
      </div>
    <div class="cards-container contentflex mt-4">
         <div class="sub-div"><img src="assets/news1.png"></div>
         <div class="sub-div text-div p-3">
            <h5>The Best Smart Key </h5>
            <p>Give your door lock a new life! Keymitt Smart Lock: Give your door lock a new life</p>
            <a class="readmore" href="#">Read more</a>
        </div>
        <div class="sub-div"><img src="assets/news2.png"></div>
        <div class="sub-div text-div p-3">
           <h5>The Best Smart Key </h5>
           <p>Give your door lock a new life! Keymitt Smart Lock: Give your door lock a new life</p>
           <a class="readmore" href="#">Read more</a>
       </div>
       <div class="sub-div"><img src="assets/news3.png"></div>
       <div class="sub-div text-div  p-3">
          <h5>The Best Smart Key </h5>
          <p>Give your door lock a new life! Keymitt Smart Lock: Give your door lock a new life</p>
          <a  class="readmore" href="#">Read more</a>
      </div>

</div>
</div>
